<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ZSS.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="ZScreen.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ZSS.Properties.Settings>
            <setting name="ISpath" serializeAs="String">
                <value />
            </setting>
            <setting name="ISenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="entireScreen" serializeAs="String">
                <value>SS-%y%mo%d%h%mi%s</value>
            </setting>
            <setting name="activeWindow" serializeAs="String">
                <value>%t-%y%mo%d%h%mi%s</value>
            </setting>
            <setting name="awincrement" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="esincrement" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="csincrement" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FTPserver" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPusername" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPpassword" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPpath" serializeAs="String">
                <value />
            </setting>
            <setting name="httppath" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HKset1" serializeAs="String">
                <value>131072</value>
            </setting>
            <setting name="HKset2" serializeAs="String">
                <value>65536</value>
            </setting>
            <setting name="HKset3" serializeAs="String">
                <value>131072</value>
            </setting>
            <setting name="HKset4" serializeAs="String">
                <value>65536</value>
            </setting>
            <setting name="HKkey1" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="HKkey2" serializeAs="String">
                <value>Z</value>
            </setting>
            <setting name="DeleteLocal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FTPport" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="SwitchAfter" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="FileFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SwitchFormat" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ImageQuality" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="RunOnce" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveToClip" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HKset5" serializeAs="String">
                <value>131072</value>
            </setting>
            <setting name="HKset6" serializeAs="String">
                <value>65536</value>
            </setting>
            <setting name="HKkey3" serializeAs="String">
                <value>S</value>
            </setting>
            <setting name="Culture" serializeAs="String">
                <value>en</value>
            </setting>
            <setting name="FTPselected" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CacheDir" serializeAs="String">
                <value />
            </setting>
            <setting name="ScreenshotCacheSize" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="ManualNaming" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FlashTrayCount" serializeAs="String">
                <value>1</value>
            </setting>
        </ZSS.Properties.Settings>
        <ZScreen.Properties.Settings>
            <setting name="ISpath" serializeAs="String">
                <value />
            </setting>
            <setting name="ISenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="path" serializeAs="String">
                <value />
            </setting>
            <setting name="entireScreen" serializeAs="String">
                <value>SS-%mo.%d.%y-%h.%mi.%s%pm</value>
            </setting>
            <setting name="activeWindow" serializeAs="String">
                <value>%t-%mo.%d.%y-%h.%mi.%s%pm</value>
            </setting>
            <setting name="awincrement" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="esincrement" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="csincrement" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FTPserver" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPusername" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPpassword" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPpath" serializeAs="String">
                <value />
            </setting>
            <setting name="httppath" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPenabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HKset1" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HKset2" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HKset3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HKset4" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HKkey1" serializeAs="String">
                <value>?</value>
            </setting>
            <setting name="HKkey2" serializeAs="String">
                <value>?</value>
            </setting>
            <setting name="DeleteLocal" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FTPport" serializeAs="String">
                <value>21</value>
            </setting>
            <setting name="SwitchAfter" serializeAs="String">
                <value>350</value>
            </setting>
            <setting name="FileFormat" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SwitchFormat" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="ImageQuality" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RunOnce" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UpgradeSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SaveToClip" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HKset5" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HKset6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HKkey3" serializeAs="String">
                <value>?</value>
            </setting>
            <setting name="Language" serializeAs="String">
                <value>3</value>
            </setting>
        </ZScreen.Properties.Settings>
    </userSettings>
</configuration>